{% extends "base.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}

  <div class="col-md-8">
    <article class="blog-post">

      <h2 class="blog-header-logo text-body-emphasis text-decoration-none ms-0 mb-4">О проекте</h2>

      <p class="card-text-thin">
        Пока пусто, но скоро здесь будет много полезной информации о MyPyHub!
      </p>

      <hr>

      <p class="card-text-thin">
        Странно, что и здесь нет никакой информации о проекте. 
        Но это не так! Просто я еще не написал эту страницу. 
        Скоро она будет наполнена полезной информацией о том, что такое MyPyHub, 
        зачем он нужен и как им пользоваться. А пока вы можете ознакомиться 
        с публикациями на главной странице и узнать больше о Python и типизации в наших статьях.
      </p>

    </article>
  </div>

{% endblock %}