{% extends "base.html" %}
{% load static %}

{% block title %}Правила{% endblock %}

{% block content %}

  <!-- Заголовок страницы -->
  <h2 class="blog-header-logo text-body-emphasis text-decoration-none ms-0 mb-4">
    Правила поведения на MyPyHub
  </h2>
  <hr>
  <!-- Правило 1 -->
  <div class="row align-items-center mb-2">
    <div class="col-md-6">
      <h3 class="card-title-thin mb-3">
        Уважайте других участников сообщества
      </h3>
      <p class="card-text-thin">
        Мы ценим дружелюбие и взаимное уважение. 
        Не допускайте оскорблений, токсичных комментариев и дискриминации.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{% static 'img/logo.png' %}" alt="Уважение" class="img-fluid rounded shadow-sm rule-image">
    </div>
  </div>
  <hr>
  <!-- Правило 2 -->
  <div class="row align-items-center mb-2">
    <div class="col-md-6">
      <h3 class="card-title-thin mb-3">
        Пишите по теме
      </h3>
      <p class="card-text-thin">
        Старайтесь, чтобы ваши публикации и комментарии соответствовали 
        тематике MyPyHub — Python, типизация, разработка.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{% static 'img/logo.png' %}" alt="По теме" class="img-fluid rounded shadow-sm rule-image">
    </div>
  </div>
  <hr>
{% endblock %}
